<!DOCTYPE html>
<html ng-app="admin">
<head>
  <base href="/admin/">
  <link rel="stylesheet" href="/stylesheets/admin.css"/>
  <link rel="stylesheet" href="/stylesheets/font.css"/>
  <link rel="stylesheet" href="/editor/codemirror.css"/>
</head>
<body>
<div class="sidebar">
  <ul>
    {{#each categeories}}
      <li><a href="{{url}}">{{name}}</a></li>
    {{/each}}
  </ul>
</div>
<div class="main" ng-view=""></div>

<script src="/javascripts/papaparse.min.js"></script>
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/bootstrap.js"></script>
<script src="/javascripts/typeahead.bundle.min.js"></script>

<script src="/javascripts/angular.min.js"></script>
<script src="/javascripts/lodash.min.js"></script>
<script src="/javascripts/angular-route.min.js"></script>
<script src="/javascripts/markdown-it.js"></script>
<script src="/javascripts/plupload/plupload.full.min.js"></script>
<script src="/javascripts/plupload/zh_CN.js"></script>
<script src="/javascripts/qiniu.js"></script>

<script src="/editor/codemirror.js"></script>
<script src="/editor/xml.js"></script>
<script src="/editor/markdown.js"></script>
<script src="/editor/ext.js"></script>

<!-- inject:js -->
<script src="/admin/app.js"></script>
<script src="/admin/util/pagingDirective.js"></script>
<script src="/admin/util/editorDirective.js"></script>
<script src="/admin/tags/tagsController.js"></script>
<script src="/admin/articles/articlesController.js"></script>
<script src="/admin/article/previewController.js"></script>
<script src="/admin/article/articleController.js"></script>
<script src="/admin/AdminController.js"></script>
<!-- endinject -->


</body>
</html>