<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="/stylesheets/materialize.min.css"/>
  <link rel="stylesheet" href="/stylesheets/materialize-tags.css"/>
  <link rel="stylesheet" href="/editor/codemirror.css">
  <link rel="stylesheet" href="/editor/material.css">
  <link rel="stylesheet" href="/editor/dracula.css">
  <link rel="stylesheet" href="/editor/fullscreen.css">
  <link rel="stylesheet" href="/admin-react/app.css">
  <base href="/admin/react/"/>

</head>
<body>
<aside class="sidebar">
  <ul class="nav clearfix">
    <li><a href="./">文章</a></li>
    <li><a href="./tags">标签</a></li>
  </ul>

</aside>
<div class="main">
  <div id="content"></div>
</div>

</body>


<script type="text/javascript" src="/admin-react/common.js"></script>
<script type="text/javascript" src="/admin-react/editor.js"></script>

<script type="text/javascript" src="/admin-react/bundle.js?112"></script>
</html>