<!DOCTYPE html>
<html ng-app>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="/stylesheets/admin.css"/>
  <script src="/javascripts/angular.min.js"></script>
</head>
<body>
<aside class="sidebar">
  <ul>
    <li><a href="javascript:;"> 设置</a></li>
    <li><a href="javascript:;"> 文章</a></li>
  </ul>
</aside>
<div class="main-wrapper">
  <div class="main">
    {{{ body }}}
  </div>
</div>
</body>
<script src="/javascripts/jquery.min.js"></script>

<script src="//localhost:35729/livereload.js"></script>

{{{block 'pagescripts'}}}

</html>