<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title></title>
  <link rel="stylesheet" href="/stylesheets/style.css"/>
</head>
<body>
<aside id="sidebar">
  <img src="" alt=""/>
  <nav>
    <a href="javascript:;">梦</a>
    <a href="javascript:;">生活</a>
    <a href="javascript:;">你看</a>
    <a href="javascript:;">归档</a>
    <a href="javascript:;">我</a>
  </nav>
  <section id="me">
    <a href="javascript:;">微信</a>
    <a href="javascript:;">QQ</a>
    <a href="javascript:;">微博</a>
  </section>
</aside>
<div id="main"></div>

</body>
</html>