<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>页面找不到</title>
  <style type="text/css">
    html, body {
      margin: 0;
      padding: 0;
    }

    html {
      height: 100%;
    }

    body {
      height: 100%;
      width: 100%;
      text-align: center;
    }

    #nf {
      position: relative;
      width: 42px;
      top:30%;
      display: inline;
    }
  </style>
</head>
<body>
<h1 id="nf">页面找不到</h1>

</body>
</html>