<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>关于我</title>
  <style type="text/css">
    .main {
      width: 800px;
      margin: 0 auto;
      font: 16px/26px 'Microsoft YaHei', Tahoma;
      letter-spacing: .3px;
    }

    .title {
      text-align: center;
    }

  </style>
</head>
<body>

<div class="main">
  <h1 class="title">关于我</h1>
  <ul>
    <li>
      <p><strong>性别</strong>：男</p>
    </li>
    <li>
      <p><strong>出生</strong>：1990年06月20日 庚午年【马年】五月廿八</p>
    </li>
    <li>
      <p><strong>兴趣</strong>：编程 游戏 运动 妞 （排名不分先后）</p>
    </li>
    <li>
      <p><strong>技能</strong>：</p>
      <ul>
        <li>
          <p><strong>windows、linux</strong>：安装及使用</p>
        </li>
        <li>
          <p><strong>HTML</strong>：How to make love，高中就对这个有所了解，可直到上大学才开始系统学习，到现在写了多少行已经不记得了，写HTML要有良好的结构，用语义化的标签
            ，用尽量少的标签展现更多的内容，正确的声明html文件的第一行（&lt;!DOCTYPE&gt;）对html的解析至关重要，因为它决定了文档的类型，定义良好的head也对网页的
            各个方面的优化有重要作用，在此就不一一列举。</p>
        </li>
        <li>
          <p><strong>CSS</strong>：大学之后才开始了解这个，对于这个更多的就是记属性，如何引用CSS文件，选择器都有哪几种等等，随着网站形式的复杂，编写CSS也越来越复杂，遂出现了很
            多预编译工具，大大减轻了CSS编写的复杂程度，常见的有SASS、LESS、Stylus，SASS是跟Ruby环境密切相关，LESS由于Bootstrap越来越被人熟知，Stylus是
            Node社区的TJ大神所创作的，介于我的技能背景，我之前用的LESS，现在用Stylus</p>
        </li>
        <li>
          <p><strong>ASP.NET</strong>:大学学过这门专业，带我进了后端这片苦海，学海无涯阿，一开始就是拖拖控件，随便写点代码一个网站就好了，期间帮老师做过几个网站，其中有一个项目
            因为静态变量的问题一直研究了两天才解决不过现在回首那些网站真是有点搓，后来学会了ASP.NET MVC让我发现原来代码还可以这样玩，兴趣暴增，工作后写了一个
            MVC项目现在运行良好</p>
        </li>
        <li>
          <p><strong>MSSQL</strong>：说起这个，我得说说存储过程，之前看网友说存储过程是预先编译好的，在做CURD的时候能大大提高效率，遂写了N多存储过程，其它的诸如join查询，子查
            询，分组等也都是用的不少</p>
        </li>
        <li>
          <p><strong>Javascript</strong>:终于说到它了，那是在一个夜黑风高的夜晚，书上说Javascript能做出富有表现力的网站，开始了这条不归路，开始的时候只是为了实现页面上的某种
            效果，所以用的多的还是Jquery，后来慢慢随着时间的推移开始了解原生的javascript了，像原型链，闭包，作用域，变量提升等等，通过一系列复杂的技巧，编写
            出模块化的javascript代码，是我坚持不懈的追求</p>
        </li>
        <li>
          <p><strong>Jquery</strong>：用的太多了，首先选择页面上的DOM元素，赋予这个元素某种效果，是Jquery主要的使命，Jquery封装的Ajax模块也是一大亮点，方便的调取数据，这酸爽阿</p>
        </li>
        <li>
          <p><strong>Node</strong>：好吧，接触这个是在一家游戏公司，架构师用的网易的Pomelo架构，我的Node之旅从那时开始，回调的痛苦经历让我至今难忘，完全不同于静态语言的代码结构
            让我花了好久才基本掌握，现在这个博客系统就是基于express打造的，纯手工编写，还有很多不足，一直在优化</p>
        </li>
        <li>
          <p><strong>mongoose</strong>：一个ODM用来连接mongodb，mongodb的数据结构搭配javascript几乎无障碍啊，因为它们都与JSON有千丝万缕的联系，mongoose的CURD算是基本
            熟悉了，深一点的如ref，index，aggregate等也都有所使用</p>
        </li>
        <li>
          <p><strong>angular</strong>：这个网站的后台系统就是基于angular做的，不得不说还是很不错的，虽然也有很多坑，不过慢慢填吧，能填上就行，什么route，controller，views
            ，directive，service，order等也都用上了感觉就是写javascript的模块</p>
        </li>
      </ul>
    </li>
    <li>
      <p><strong>编程生涯</strong>：小学开始玩电脑，一开始就是打游戏，一直打到现在…，那时候玩传奇，为了追求NB，不停地练级，刷装备，但是有些人通过某些工具能快速的得到这些
        ，上了初中知道那是外挂，编程之路由此开始，一开始接触的是VB，感觉萌萌哒，弄了一周不弄了…，不过那时一直看电脑报什么的，积累了相当多的电脑知识
        上了高中，对编程的兴趣只增不减，某天母亲带回来一本书，ASP从入门到精通，就看了一点点，写了些静态html，再往下就看不下去了，一直搁置着。</p>

      <p>后来上了大学，开始系统的学习编程知识，期间为老师做过几个网站，都是那种企业站，主要偏展示，后台就是简单的CMS，加入学校的实验室，做了一个人事管理系统
        ，大二暑假在一个建站公司兼职，也是企业站，就在做这些网站的时候，积累了相当多的技能，从前端到后端都是一个人做，拿到原型图，我跟同事说要怎么切怎么切
        他帮我切好后给我，大大小小做了有一二十个企业站，到了大三下学期，了解到了redis,mongo,node这些在当时比较前沿的东西，在后端领域也有javascript的一
        席之地了，再加上html5在移动端的表现也很突出，想象着未来可能前后端以及移动端都有javascript的身影，当时真的是激动阿，就依然决然的投入到了深耕javascript的行列
        中，到上海后在一个游戏公司做了一个基于Pomelo框架的游戏，干了5个月公司倒闭了，之后去了一家做基于微信业务的公司，前端岗位，基于bootstrap的二次开发
        以及加一些其它效果，功能。</p>

      <p>直到现在。</p>
    </li>
  </ul>
</div>
</body>
</html>