<article class="article">
  <h2 class="article-title">老家淳朴亲戚问你工资怎么破？</h2>

  <div class="info">
    <ul>
      <li>17:20</li>
      <li><a href="javascript:;" >node</a> | <a href="javascript:;">前端</a></li>
      <li>阅读（2000）</li>
      <li>评论（500）</li>
    </ul>
  </div>

  <div class="article-cont">

       有次，去同学家吃饭。他有个亲戚从老家来看病，住在他家。同学管亲戚喊舅，我们也都跟着喊舅。舅长舅短的一喊，亲戚高兴了，把我们都当成亲外甥了，挨个问我们一月挣多少钱。
    <br/>

    　　老家的风俗很淳朴，淳朴到根本不会把你当外人。

    <br/>

    　　有个在部委工作的，我们亲切地叫他毛部。
    <br/>
    　　毛部说一个月拿四千块。老舅眉头一皱：不可能！
    <br/>
    　　老舅说在诳他。
    <br/>
    　　毛部只好说，还有点补贴。
    <br/>
    　　老舅问补贴多少。
    <br/>
    　　毛部说几百块。
    <br/>
    　　老舅：不止吧？
    <br/>
    　　毛部笑了：有时候也发点降温费、过节费什么的。
    <br/>
    　　老舅：加起来多少钱？
    <br/>
    　　毛部：六七千吧。
    <br/>
    　　老舅：肯定还有，绝对不止这个数。
    <br/>
    　　那神情好像毛部的工资是他亲手定的。
    <br/>
    　　毛部：要算加班费的话，八九千吧。
    <br/>
    　　老舅点点头：这还差不多，我就不信你才拿四千。
    <br/>
    　　实际上，毛部所有收入加起来，一月不到五千。
    <br/>
    　　接下来，问一个干IT的同学。
    <br/>
    　　他月入大概两万。
    <br/>
    　　我们怕他刺激到老舅。
    <br/>
    　　IT同学滑头，他说：老舅，你觉得我一个月能拿多少。
    <br/>
    　　老舅：你也不会少了。
    <br/>
    　　IT同学会意了：比毛部少一点，但没少太多，一个月七八千的样子。
    <br/>
    　　老舅点点头：嗯，你说的是实话。
    <br/>
    　　那次经验让我明白一点：在回答别人问题的时候。不一定要告诉他真实的答案。很多时候，告诉他一个符合他想象的答案，可能效果更好。因为不是每一个人，都有勇气去接受他不懂的东西，愿意去理解他未知的领域。对绝大多数人来说，更倾向用已有的想法，去解释看到的一切。这些人极度自负。固有的观念，在他心中围成了牢不可破的城堡。
    <br/>
    　　让·诺埃尔·卡普费雷，在《谣言》里讲过一个故事：
    <br/>
    　　尼克松访华那年，老百姓从收音机里听到这个消息，难以置信：
    <br/>
    　　美帝国主义竟然胆敢来中国？

    　　更难以置信的是，毛主席还亲自接见了他！

    　　一切帝国主义不都是应该被打倒的吗？

    　　不解。疑惑。

    　　很快，一则故事开始流行：

    　　尼克松在会见毛主席的时候，看见桌上有只九龙杯。

    　　趁毛主席不注意，偷走了。

    　　当然，这不可能逃过卫兵们的眼睛。

    　　但卫兵们不敢动他，因为他是毛主席的客人。

    　　第一时间，卫兵报告了周总理。

    　　周总理想出了一个两全其美的妙计：

    　　晚上，安排尼克松看一场演出，有一节是魔术表演。

    　　魔术师当着众人的面，把手里的九龙杯变没了，然后说：

    　　九龙杯在尼克松总统箱子里。

    　　接着，箱子被打开，魔术师用假九龙杯替换了真的，并把假的送给尼克松作为礼物。

    　　收场皆大欢喜。

    　　这是一个极好的例子，说明谣言是如何兴起和传播的。

    　　谣言得以流行的关键是，要吻合大众的臆想。

    　　在那个时代老百姓的心目当中，美帝国主义永远是邪恶贪婪的。

    　　根据皮裤原理，美帝既然来了，必然心存不轨，必然要干坏事。

    　　但，我们伟大的社会主义国家可能没有足智多谋的人吗？可能没有看不出美帝国主义反动本质的人吗？

    　　不可能，绝对有。

  </div>

</article>

