<ul class="fl list-none">
  <li class="inline m-r-10"><a href="javascript:;" title="阿里巴巴">阿里巴巴</a></li>
  <li class="inline m-r-10"><a href="javascript:;">百度</a></li>
  <li class="inline m-r-10"><a href="javascript:;">腾讯</a></li>
  <li class="inline m-r-10"><a href="javascript:;">新浪</a></li>
  <li class="inline m-r-10"><a href="javascript:;">搜狐</a></li>
  <li class="inline m-r-10"><a href="javascript:;">网易</a></li>
  <li class="inline m-r-10"><a href="javascript:;">盛大</a></li>
  <li class="inline m-r-10"><a href="javascript:;">优酷</a></li>
  <li class="inline m-r-10"><a href="javascript:;">乐视</a></li>
  <li class="inline m-r-10"><a href="javascript:;">小米</a></li>
  <li class="inline m-r-10"><a href="javascript:;">京东</a></li>
  <li class="inline m-r-10"><a href="javascript:;">携程</a></li>
  <li class="inline m-r-10"><a href="javascript:;">谷歌</a></li>
</ul>