<div class="articles">
  <div class="excerpt">
    <div class="content">
      <h2><a href="javascript:;"> 离开家乡的人为什么不愿意回去</a></h2>

      <p class="summary">
        <a href="javascript:;">
          142年前的今天，一艘载着数十名中国儿童的船，驶向太平洋的风涛中。三万二千里之外，一个陌生的国度正等待着他们。航程还未过半，他们已能娴熟地使用刀叉，爱上了面包和牛奶——这是他们父辈无从理解和想象的饮食习惯。九年后，清廷将他们全部召回。没有一个人愿意回来。回国一年后，还有人给美国的家庭......</a>
      </p>
      <div class="info">
        <ul>
          <li>18:23</li>
          <li><a href="javascript:;">node</a> | <a href="javascript:;">前端</a> | <a href="javascript:;">好玩</a></li>
          <li>阅读（2000）</li>
          <li>评论（500）</li>
        </ul>
      </div>
    </div>

  </div>
</div>

<div class="articles">
  <div class="excerpt">
    <div class="content">
      <h2><a href="javascript:;">老家淳朴亲戚问你工资怎么破？</a></h2>

      <p class="summary">
        <a href="javascript:;"> 有次，去同学家吃饭。他有个亲戚从老家来看病，住在他家。同学管亲戚喊舅，我们也都跟着喊舅。舅长舅短的一喊，亲戚高兴了，把我们都当成亲外甥了，挨个问我们一月......</a>
      </p>
      <div class="info">
        <ul>
          <li>17:20</li>
          <li><a href="javascript:;">node</a> | <a href="javascript:;">前端</a></li>
          <li>阅读（2000）</li>
          <li>评论（500）</li>
        </ul>
      </div>
    </div>

  </div>
</div>

<div class="articles">
  <div class="excerpt">
    <div class="content">
      <h2><a href="javascript:;"> 离开家乡的人为什么不愿意回去</a></h2>

      <p class="summary">
        <a href="javascript:;">142年前的今天，一艘载着数十名中国儿童的船，驶向太平洋的风涛中。三万二千里之外，一个陌生的国度正等待着他们。航程还未过半，他们已能娴熟地使用刀叉，爱上了面包和牛奶——这是他们父辈无从理解和想象的饮食习惯。九年后，清廷将他们全部召回。没有一个人愿意回来。回国一年后，还有人给美国的家庭......</a>
      </p>
      <div class="info">
        <ul>
          <li>12-04 19:33</li>
          <li><a href="javascript:;">node</a> | <a href="javascript:;">前端</a> | <a href="javascript:;">好玩</a></li>
          <li>阅读（2000）</li>
          <li>评论（500）</li>
        </ul>
      </div>
    </div>

  </div>
</div>
<div class="articles">
  <div class="excerpt">
    <div class="content">
      <h2><a href="javascript:;">离开家乡的人为什么不愿意回去</a></h2>

      <p class="summary">
        <a href="javascript:;">
          142年前的今天，一艘载着数十名中国儿童的船，驶向太平洋的风涛中。三万二千里之外，一个陌生的国度正等待着他们。航程还未过半，他们已能娴熟地使用刀叉，爱上了面包和牛奶——这是他们父辈无从理解和想象的饮食习惯。九年后，清廷将他们全部召回。没有一个人愿意回来。回国一年后，还有人给美国的家庭......</a>
      </p>
      <div class="info">
        <ul>
          <li>12-04 07:20</li>
          <li><a href="javascript:;">node</a> | <a href="javascript:;">前端</a> | <a href="javascript:;">好玩</a></li>
          <li>阅读（2000）</li>
          <li>评论（500）</li>
        </ul>
      </div>
    </div>

  </div>
</div>

<div class="articles">
  <div class="excerpt">
    <div class="content">
      <h2><a href="javascript:;">离开家乡的人为什么不愿意回去</a></h2>

      <p class="summary">
        <a href="javascript:;">
          142年前的今天，一艘载着数十名中国儿童的船，驶向太平洋的风涛中。三万二千里之外，一个陌生的国度正等待着他们。航程还未过半，他们已能娴熟地使用刀叉，爱上了面包和牛奶——这是他们父辈无从理解和想象的饮食习惯。九年后，清廷将他们全部召回。没有一个人愿意回来。回国一年后，还有人给美国的家庭......</a>
      </p>
      <div class="info">
        <ul>
          <li>12-03 17:20</li>
          <li><a href="javascript:;">node</a></li>
          <li>阅读（2000）</li>
          <li>评论（500）</li>
        </ul>
      </div>
    </div>
  </div>
</div>

{{#contentFor 'pagescripts'}}
  <script type="text/javascript">
    $(function () {
      console.log(111)
    })
  </script>
{{/contentFor}}