<!doctype html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <title>登录</title>
  <link rel="stylesheet" href="/stylesheets/materialize.min.css">
  <style type="text/css">
    .form-wrap {
      margin-top: 40px;
      width: 320px;
    }
  </style>

</head>
<body>
<div class="row form-wrap">
  <form action="/login" method="post" class="row">
    <div class="input-field col s12">
      <input type="text" id="username" name="username" autocomplete="off"/>
      <label for="username" class="">
        登录名：
      </label>
    </div>
    <div class="input-field col s12">
      <input type="password" id="pwd" name="pwd" autocomplete="off"/>
      <label for="pwd" class="">
        密码：
      </label>
    </div>
    <div class="input-field col s12">
      <a class="waves-effect waves-light btn right" id="submit">登录</a>
    </div>
  </form>
</div>
<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/materialize.min.js"></script>
<script type="text/javascript">
  $(function () {
    $('#submit').on('click',function(){
      $('form').submit();
    })
  });
</script>
</body>
</html>