<!doctype html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <title>OmniP's resume</title>
  <link rel="stylesheet" href="/fonts/resume/style.css"/>
  <style type="text/css" media="screen,print">
    * {
      box-sizing: border-box;
      margin: 0;
      padding: 0;
    }

    @media print {
      a:visited {
        color: #555;
      }
    }


    body {
      color: #555;
      font-family: Helvetica, Tahoma, Arial, 'Microsoft YaHei', 微软雅黑, STXihei, 华文细黑, SimSun, 宋体, Heiti, 黑体, sans-serif;
      font-size: 16px;
      background-color: #fbfbfb;
      -webkit-font-smoothing: antialiased;
      -webkit-print-color-adjust: exact;
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    [class^="icon-"], [class*=" icon-"] {
      width: 26px;
      display: inline-block;
      font-size: 18px;
      position: relative;
      top: 2px;
      padding-right: 8px;
    }

    .pull-right {
      float: right;
    }

    .clearfix:before {
      content: " ";
      display: table
    }

    .clearfix:after {
      content: " ";
      display: table
    }

    #content {
      width: 960px;
      margin: 0 auto;
    }

    #basic-info, #more-info {
      float: left;
    }

    #basic-info {
      width: 260px;
      position: fixed;
    }

    #more-info {
      padding-left: 285px;
      width: 100%;
    }

    #main {
      border-left: 2px solid #ccc;
      padding-left: 20px;
      padding-bottom: 20px;
    }

    #main p {
      margin-bottom: 12px;
    }

    #main p, #main li {
      line-height: 1.6em;
    }

    .title {
      position: relative;
      margin: 20px 0;
    }

    .title span {
      position: relative;
      z-index: 2;
      background-color: #FBFBFB;
      padding-right: 18px;
    }

    h3.title:after {
      display: block;
      position: absolute;
      content: ' ';
      width: 100%;
      height: 2px;
      background-color: #CCCCCC;
      top: 10px;
      z-index: 1;
    }

    @media print {
      .title span {
        position: relative;
        z-index: 2;
        background-color: #fff;
        padding-right: 18px;
      }
    }

    #contact li {
      margin: 14px 0;
    }

    .progress {
      background-color: #ccc;
      height: 12px;
    }

    .progress-bar {
      background-color: #666;
      height: 100%;
      line-height: 12px;
    }

    .circle {
      position: relative;
      width: 100px;
      height: 100px;
      line-height: 100px;
      float: left;
      margin: 10px 15px;
      text-align: center;
    }

    .circle svg {
      position: absolute;
      top: 0;
      left: 0;
    }

    .skill-item {
      margin: 20px 0;
    }

    .skill-item span {
      float: left;
    }

    .skill-item .progress {
      width: 175px;
      margin-left: 85px;
    }

    #name {
      text-align: right;
    }

    #name > h1 {
      font-size: 45px;
    }

    #name > small {
      font-size: 16px;
    }

    .work > .title {
      margin-bottom: 2px;
    }

    .company {
      font-size: 14px;
      font-style: italic;
      color: #999;
    }

    .work ul {
      padding-left: 20px;
      list-style: disc;
    }

    .work li {
      padding: 4px 0;
    }
  </style>
</head>
<body>
<article id="content">
  <section id="basic-info">
    {{!--<section id="logo"></section>--}}
    <section id="contact">
      <h3 class="title"><span>CONTACT</span></h3>
      <ul>
        <li class="phone"><i class="icon-mobile"></i>13167220528</li>
        <li class="mail"><i class="icon-email"></i>412726700@qq.com</li>
        <!-- <li class="qq"><i class="icon-qq2"></i>412726700</li> -->
        <li class="web"><i class="icon-globe2"></i><a href="http://www.ewpan.com" target="_blank">www.ewpan.com</a></li>
        <li class="github"><i class="icon-github2"></i><a href="https://github.com/p412726700" target="_blank">github.com/p412726700</a>
        </li>
        <li class="location"><i class="icon-map"></i>上海，徐汇区</li>
      </ul>
    </section>
    <section id="skills">
      <h3 class="title"><span>SKILLS</span></h3>
      <ul>
        <li class="skill-item"><span>Nodejs</span>

          <div class="progress">
            <div class="progress-bar" style="width: 85%"></div>
          </div>
        </li>
        <li class="skill-item"><span>Javascript</span>

          <div class="progress">
            <div class="progress-bar" style="width: 90%"></div>
          </div>
        </li>
        <li class="skill-item"><span>Html</span>

          <div class="progress">
            <div class="progress-bar" style="width: 81%"></div>
          </div>
        </li>
        <li class="skill-item"><span>CSS</span>

          <div class="progress">
            <div class="progress-bar" style="width: 89%"></div>
          </div>
        </li>
        <li class="skill-item"><span>ASP.NET</span>

          <div class="progress">
            <div class="progress-bar" style="width: 75%"></div>
          </div>
        </li>
        <li class="skill-item"><span>Mysql</span>

          <div class="progress">
            <div class="progress-bar" style="width: 81%"></div>
          </div>
        </li>
        <li class="skill-item"><span>Mongodb</span>

          <div class="progress">
            <div class="progress-bar" style="width: 75%"></div>
          </div>
        </li>
        <li class="skill-item"><span>Redis</span>

          <div class="progress">
            <div class="progress-bar" style="width: 70%"></div>
          </div>
        </li>
        <li class="skill-item"><span>Nginx</span>

          <div class="progress">
            <div class="progress-bar" style="width: 50%"></div>
          </div>
        </li>
      </ul>
    </section>
    <section id="tools">
      <h3 class="title"><span>TOOLS</span></h3>

      <div id="webstorm" class="circle">
        <span>Webstorm</span>
      </div>
      <div id="sublime" class="circle">
        <span>Sublime</span>
      </div>

      <div id="atom" class="circle">
        <span>Atom</span>
      </div>

      <div id="vs" class="circle">
        <span>VS</span>
      </div>


    </section>
    <div class="clearfix"></div>
    {{!--<div id="qr" style="margin-top: 100%;display: none">--}}
    {{!--<h3 class="title"><span>QR</span></h3>--}}

    {{!--<div style="text-align: center">--}}
    {{!--<span>浏览电子班</span>--}}
    {{!--<img src="/img/qrcode.png" width="160" height="160" alt="qrcode"/></div>--}}

    {{!--</div>--}}

  </section>
  <section id="more-info">
    <div id="main">
      <section id="name">
        <h1>潘志超</h1>
        <small>前端/nodejs工程师</small>

      </section>

      <section id="profile">
        <h3 class="title"><span>PROFILE</span></h3>

        <p>
          4年互联网经验，熟悉前后端开发架构。做过手游开发、企业站、微信第三方、大型商城、CMS、ERP等等。
        </p>

        <p>
          熟悉MVC、MVVM开发模式，熟练使用Ubuntu、Mac，熟练使用shell工具，熟练使用Webpack、Gulp构建工具。日常工作中，对于前端会根据不同的项目决定使用react、angular2、vue等
          框架，熟练使用sass、stylus等css解决方案，使用webpack作为监控编译打包构建工具，熟练使用git。后端熟练运用nodejs、配合常见的RPC、MQ、数据库等，完成一整套从前端到后端的技术构建。熟悉从项目立项到上线等一系列流程。
          针对工作中碰到的难题，一般是通过<strong>官方API、stackoverflow、Google、专业论坛</strong>等方案来解决。
        </p>

      </section>
      <section id="experiences">
        <h3 class="title"><span>EXPERIENCES</span></h3>
        <section class="work">
          <h4 class="title"><span>前端/Nodejs工程师</span>
            <small class="pull-right">2015.10-</small>
          </h4>
          <section class="company">平安健康互联网有限公司</section>

          <ul>
            <li>
              <p><strong>商城管控系统</strong></p>
              <p>项目背景：公司要为所有的运营人员提供一个方便快捷控制台，由于之前的系统比较分裂，难以维护且之前java层主要是用来提供微服务的，但是为了项目的需要硬是加了一层restful接口在里面。
                另外由于商户平台前端对接多个后端项目组，每个项目组各自管理自己的日志记录、数据库连接、登录鉴权等等，代码冗余量大，急需一个统一入口来分发请求，净化代码。
              </p>
              <p>在这种需求的前提下，我们选择了全栈js开发的架构，我作为项目leader来完成这一体系的构建，前端用了其它前端团队二次开发的angular，后端我们自己搭建nodejs。这样前后端都原生用json
                做数据交换，交流通信上少了很多痛点，前端使用angular，一改之前用jq造成代码冗杂，html字符串拼接，css混乱等问题，使用angular合理的架构分层，使代码的维护性、项目的稳定性、页面
                的流畅度都有了质的提升，然而由于使用其它团队开发的二次代码且没有文档，导致项目架构还不甚完美，这个后面再说。
              </p>
              <p>后端使用nodejs，express框架承担起与前端交互的工作，由于不用后端渲染页面，所以在代码结构分层上少了一层view，使用redis来存储session以解决共享的问题，使用sequelize连接mysql，
                使用mongoose连接mongodb，在同其他团队协作的过程中由于是在内网中，所以最高效的还是RPC，然而后端团队使用的dubbo RPC，但开源社区并没有nodejs连接dubbo的中间件，所以我们团队我主
                导开发了一套node连接dubbo RPC的中间件<a href="https://github.com/p412726700/node-zookeeper-dubbo" target="_blank">node-zookeeper-dubbo</a>，有了这个我们整体
                的架构算是搭建起来了，基本流程是 前端<--->nodejs<--->java，各司其职，各做其事。
              </p>

              <p><strong>商城管控系统2.0</strong></p>
              <p>项目背景：随着需求越来越多，现有的一些样式组件好多都无法满足需求，虽然期间我们做过许多组件，但是由于人手不够，组件的开发速度还是赶不上需求的产生速度，再加上之前用的二手代码，好多无
                用的代码也掺杂其中，另外随着angular势微，公司其它前端团队也都慢慢迁移到react架构中，所以决定用react重构前端项目</p>

              <p>在react中，状态管理是比较重要的一部分，flux流派的redux，类rxjs的mobx都是为了更好的解决状态管理，由于我们这边是四个前端做主要的开发工作，其它后端项目组同学间或需要处理些简单
                的前端工作，后端同学对java的强类型、注解等等再熟悉不过了，所以我们决定用typescript+react+mobx来重新构建我们的前端项目，使用ts也使得项目在开发过程中更加规范，有据可循，但有一点
              需要注意的是由于使用了mobx，其中observeable不能滥用，否则会造成没有必要的重新render。项目中使用webpack作为打包编译构建工具，智能识别不同的环境类型做不同的处理。</p>
            </li>
            <li>
              其它：即时聊天系统搭建、协助运维团队搭建nodejs私服、协助mobile团队搭建项目框架、开源node-zookeeper-dubbo
            </li>
          </ul>
        </section>

        <section class="work">
          <h4 class="title"><span>前端工程师</span>
            <small class="pull-right">2014.03-2015.02</small>
          </h4>
          <section class="company">上海微客来技术有限公司</section>

          <ul>
            <li>
              后台控制页面改版，将老旧的后台前端页面使用bootstrap重构，主要功能是能方便快速的搭建微信网站。使用了jquery、moment、lodash、select2、uploadify等库，全站使用模块化编程思想，使代码科维护行提高。
            </li>
            <li>
              爱客项目前后台前端页面架构搭建，本项目是一个CRM系统。主要使用了highcharts、jqueryvalidate等组件。
            </li>
          </ul>
        </section>

        <section class="work">
          <h4 class="title"><span>ASP.NET工程师</span>
            <small class="pull-right">2013.08-2014.03</small>
          </h4>
          <section class="company">上海村木科技有限公司</section>

          <ul>
            <li>村木金融官网搭建。前端使用bootstrap，后端使用asp.net。</li>
            <li>
              斗牛（棋牌类游戏）项目服务端搭建，使用基于nodejs的pomelo架构（RPC服务）搭建游戏服务端的逻辑代码。
            </li>
          </ul>
        </section>
      </section>
      <section id="edu">
        <h3 class="title"><span>EDUCATION</span></h3>

        <section class="work">
          <h4 class="title"><span>计算机科学与技术</span>
            <small class="pull-right">2010.09-2014.06</small>
          </h4>
          <section class="company">郑州大学</section>

        </section>
      </section>
    </div>
  </section>
  <div class="clearfix"></div>
</article>

<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/progressbar.min.js"></script>

<script>
  var circleOpt = {
    color      : '#666',
    trailColor : '#ccc',
    strokeWidth: 3,
    trailWidth : 3
  };
  function circle(id, per) {
    (new ProgressBar.Circle(id, circleOpt)).animate(per)
  }

  circle('#webstorm', .85);
  circle('#sublime', .75);
  circle('#atom', .7);
  circle('#vs', .8);

</script>

</body>
</html>
