/**
 * Created by pan on 14-9-2.
 */
@import "../../node_modules/bootstrap/less/normalize";
@import "../../node_modules/bootstrap/less/mixins/vendor-prefixes";

//@import "animation/animations.less";

@bg-primary: #EEEEEE;
@bg-dark: #222222;

@text-primary: #222222;
@text-white: #EEEEEE;
@text-bright: #CC0000;
@text-muted: #959595;

@link-color: #000099;
@link-hover-color: #0066CC;

body {
  font-family: "Microsoft YaHei", "LiHei Pro Medium", "WenQuanYi Micro He", Sans-serif;
  font-size: 16px;
  background-color: lighten(@bg-primary, 5%);
  color: @text-primary;
}

* {
  box-sizing: border-box;
  &:after, &:before {
    box-sizing: border-box;
  }
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*blockquote*/
blockquote {
  p {
    margin: 6px auto;
  }
  footer {
    font-size: 80%;
    color: lighten(@text-primary, 13%);
    float: right;
    &:before {
      content: '\2014 \00A0';
    }
    cite {
      font-style: normal;
    }
  }
}

a {
  color: @text-primary;
  &:hover {
    text-decoration: none;
    .transition(all 200ms linear 0);
    color: @link-hover-color;
  }
}

.after-clear {
  &:after {
    clear: both;
    display: block;
    content: ' ';
  }
}

@sidebar-width: 260px;
.sidebar-show {
  .transition(all 150ms linear 0);
  opacity: 0.4;
  &:hover {
    opacity: 1;
  }
}

.sidebar {
  width: @sidebar-width;
  text-align: center;
  position: fixed;
  border-right: 1px solid darken(@bg-primary, 12%);
  height: 100%;
  .sidebar-show;
  .after-clear;
  .avatar {
    width: 120px;
    height: 120px;
    border-radius: 60px;
    margin-top: 150px;
    margin-bottom: 10px;
  }
  .proverbs {
    margin-bottom: 80px;
  }
  nav, .me {
    a {
      padding: 8px;
    }
  }
  nav {
    margin-bottom: 30px;
  }
}

@right-nav-width: 300px;
@right-nav-r: 60px;
.right-nav {

  width: @right-nav-width;
  position: fixed;
  padding-top: 50px;
  right: @right-nav-r;
  top: 0;
  .sidebar-show;
  > section {
    margin: 10px 10px 20px 10px;
    header {
      padding-left: 8px;
      border-bottom: 1px solid @text-primary;
      font-size: 18px;
    }
    ul {
      padding-top: 6px;
      li {
        padding: 6px 0 6px 8px;
        a {
          text-decoration: none;
          color: lighten(@text-primary, 12%);
          &:hover {
            text-decoration: underline;
          }
        }
      }

    }

  }
}

.main-wrapper {
  float: left;
  width: 100%;
  padding-left: @sidebar-width;
  padding-right: @right-nav-width+@right-nav-r;
  .main {
    height: 500px;
    padding-left: 80px;
    padding-top: 50px;
    padding-right: 60px;
    .info {
      margin-bottom: 20px;
      ul {
        .after-clear;
        li {
          display: inline;
          margin-right: 14px;
          font: 300 13px/18px 'Tahoma';
        }
      }
    }
    .articles {
      margin-bottom: 12px;
      padding-top: 12px;
      border-bottom: 1px dashed transparent;
      border-top: 1px dashed transparent;
      .transition(all 150ms linear 0);
      &:hover {
        border-bottom: 1px dashed lighten(@text-primary, 45%);
        border-top: 1px dashed lighten(@text-primary, 45%);
      }
      .content {
        a {
          text-decoration: none;
        }
        h2 {
          font: 300 24px/40px 'Microsoft YaHei';
          margin: 0 auto;
          .after-clear;
        }
        .summary {
          margin-top: 10px;
          font: 16px/24px 'Tahoma';
          a:hover {
            color: @text-primary;
          }
        }
      }
    }
    .article {
      .article-title {
        font-weight: normal;
        margin: 0;
        text-align: center;
      }
      .info {
        margin-bottom: 12px;
        margin-top: 8px;
        border-bottom: 1px solid lighten(@text-muted,26%);
        padding-bottom: 12px;
        text-align: center;
        color: @text-muted;
        a {
          text-decoration: none;
          color: @text-muted;
          &:hover {
            color: @link-hover-color;
          }
        }
      }
      .article-cont {
        padding-bottom: 16px;
        border-bottom: 1px solid lighten(@text-muted,26%);
      }
    }
  }
}

@media all and (max-width: 1440px) {
  .main-wrapper {
    .main {
      padding-left: 60px;
      padding-right: 40px;
    }
  }
}

@media all and (max-width: 1280px) {
  .main-wrapper {
    .main {
      padding-left: 40px;
      padding-right: 30px;
    }
  }
}




