/**
 * Created by pan on 14-9-2.
 */

@import "../../node_modules/bootstrap/less/normalize";

@bg-primary: #EEEEEE;
@bg-dark: #222222;

@text-primary:#222222;
@text-primary:#EEEEEE;
@text-bright:#0000CC;

