.tags-input
  padding 4px 12px
  cursor text
  position relative
  input
    border none
    outline none
  .label
    font-size 80%
    margin-right 2px
  span[data-role='remove']
    cursor pointer
    margin-left 4px
  span[data-role='remove']:after
    content 'x'
    padding 0 2px
  .tag-dropdown
    width 200px
    top 80%
    z-index 100
    display inline-block
    position absolute
    border 1px solid rgba(0,0,0,0.15)
    background #fff
    border-radius 3px
    padding 5px 0
    margin-left -170px
    li
      padding 2px 4px
      &:hover
        background-color #00f
        color #fff


