<div class="col-md-9 m-t-10" role="main">
  <form role="form" class="form-horizontal" ng-submit="processForm()">
    <div class="form-group">
      <label for="title" class="col-sm-2 control-label">标题</label>

      <div class="col-sm-10">
        <input type="text" class="form-control" name="title" id="title" ng-model="article.title"/>
      </div>
    </div>
    <div class="form-group">
      <label for="content" class="col-sm-2 control-label">内容</label>

      <div class="col-sm-10">
        <div class="editor-toolbar">
          <a class="icon-bold" href="javascript:;"></a>
          <a class="icon-italic" href="javascript:;"></a>
          <a class="icon-quotes-left" href="javascript:;"></a>
          <a class="icon-list-numbered" href="javascript:;"></a>
          <a class="icon-list" href="javascript:;"></a>
          <a class="icon-link" href="javascript:;"></a>
          <a class="icon-eye" href="javascript:;"></a>
          <a class="icon-enlarge2" href="javascript:;"></a>
        </div>
        <textarea editor rows="5" name="content" id="content" ng-model="article.content"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label for="source" class="col-sm-2 control-label">来源</label>

      <div class="col-sm-10">
        <input type="text" class="form-control" name="source" id="source" ng-model="article.source"/></div>
    </div>
    <div class="form-group">
      <label for="top" class="col-sm-2 control-label">置顶</label>

      <div class="col-sm-10">
        <input type="checkbox" name="top" id="top" ng-model="article.top"/></div>
    </div>
    <div class="form-group">
      <label for="tags" class="col-sm-2 control-label">标签</label>

      <div class="col-sm-10">
        <input tags-style type="text" class="form-control" name="tags" id="tags" ng-model="article.tags"/></div>
    </div>
    <div class="form-group">
      <label for="views" class="col-sm-2 control-label">浏览量</label>

      <div class="col-sm-10">
        <input type="text" name="views" class="form-control" id="views" ng-model="article.views"/></div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <input type="submit" value="提交" class="btn btn-default pull-right"/>

        <div id="container" class="pull-right m-r-10">
          <a class="btn btn-default" id="pickfiles" href="#">
            <sapn>选择文件</sapn>
          </a>
        </div>
        <input type="button" value="预览" class="btn btn-default pull-right m-r-10" ng-click="preview()"/>
      </div>
    </div>
  </form>
</div>